flows/flows.json
[{"id":"d437241cb80813aa","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"9d0c82ad1f277388","type":"mqtt-broker","name":"662267b4d75448ff9ab5c5bcb043bd1f","broker":"662267b4d75448ff9ab5c5bcb043bd1f.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"662267b4d75448ff9ab5c5bcb043bd1f","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"865a30078745fd15","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"dfcd3b7468cbb923","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e30071bd08154d5d","type":"ui_group","name":"Default","tab":"865a30078745fd15","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"98b59746294aeedb","type":"gauth","name":"planilha-est-met@planilha-300814.iam.gserviceaccount.com"},{"id":"87a7ca34e2267354","type":"inject","z":"d437241cb80813aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Anti_timeout","payload":"","payloadType":"date","x":320,"y":580,"wires":[["d66cd58fe22ba8ab"]]},{"id":"4e14b33a2efecc07","type":"debug","z":"d437241cb80813aa","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":40,"wires":[]},{"id":"83e995c3d830c665","type":"mqtt in","z":"d437241cb80813aa","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"google-sheets-data","qos":"0","datatype":"auto-detect","broker":"9d0c82ad1f277388","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":40,"wires":[["b925c1307aafd34a","3368511745987b35","4e14b33a2efecc07","2796932c38b9514f","fd70e3f396819dee","cdc86d5956828e2a","a6e1df67fbb03bae"]]},{"id":"d66cd58fe22ba8ab","type":"mqtt out","z":"d437241cb80813aa","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"google-sheets-data","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9d0c82ad1f277388","x":950,"y":580,"wires":[]},{"id":"3534936871e0d66e","type":"ui_gauge","z":"d437241cb80813aa","name":"","group":"e30071bd08154d5d","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"ºC","format":"{{payload}}","min":"-5","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1050,"y":120,"wires":[]},{"id":"d84ac9119ffcfbb6","type":"ui_gauge","z":"d437241cb80813aa","name":"","group":"e30071bd08154d5d","order":1,"width":0,"height":0,"gtype":"gage","title":"Umid","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1050,"y":160,"wires":[]},{"id":"b925c1307aafd34a","type":"change","z":"d437241cb80813aa","name":"definir msg.payload.Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":120,"wires":[["3534936871e0d66e","5318649c6bd370da"]]},{"id":"3368511745987b35","type":"change","z":"d437241cb80813aa","name":"definir msg.payload.Umid","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Umidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":160,"wires":[["d84ac9119ffcfbb6","5318649c6bd370da"]]},{"id":"5318649c6bd370da","type":"debug","z":"d437241cb80813aa","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":80,"wires":[]},{"id":"1575788e36f6378e","type":"http request","z":"d437241cb80813aa","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":true,"authType":"","senderr":false,"headers":[],"x":820,"y":360,"wires":[[]]},{"id":"680602ea921b487c","type":"function","z":"d437241cb80813aa","name":"function_temp","func":"var Temperatura = msg.payload.Temperatura || 0; // Garante que valor1 tem um valor\nmsg.url = \"https://docs.google.com/forms/d/e/1FAIpQLSemCuYPHfKyo-iEMDjWWzH1if4UUgic00Y0njsiPabyW34qeg/formResponse?entry.912878762=\" + Temperatura;\n\n\n// Retorna a msg com a URL no campo correto\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":360,"wires":[["1575788e36f6378e"]]},{"id":"b5696f2a2e8d16e7","type":"debug","z":"d437241cb80813aa","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":720,"wires":[]},{"id":"2796932c38b9514f","type":"change","z":"d437241cb80813aa","name":"definir msg.payload.CO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":200,"wires":[["5318649c6bd370da","11b1f5247b173ff9"]]},{"id":"fd70e3f396819dee","type":"change","z":"d437241cb80813aa","name":"definir msg.payload.Solo","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Solo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":240,"wires":[["5318649c6bd370da","ee04cf1ffcd48d8a"]]},{"id":"cdc86d5956828e2a","type":"change","z":"d437241cb80813aa","name":"definir msg.payload.Orvalho","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Orvalho","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":280,"wires":[["5318649c6bd370da","08fab7ac87bb7b32"]]},{"id":"11b1f5247b173ff9","type":"ui_gauge","z":"d437241cb80813aa","name":"","group":"e30071bd08154d5d","order":1,"width":0,"height":0,"gtype":"gage","title":"CO2","label":"PPM","format":"{{payload}}","min":0,"max":"2500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1050,"y":200,"wires":[]},{"id":"ee04cf1ffcd48d8a","type":"ui_gauge","z":"d437241cb80813aa","name":"","group":"e30071bd08154d5d","order":1,"width":0,"height":0,"gtype":"gage","title":"Umid. Solo","label":"%","format":"{{payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1070,"y":240,"wires":[]},{"id":"08fab7ac87bb7b32","type":"ui_gauge","z":"d437241cb80813aa","name":"","group":"e30071bd08154d5d","order":1,"width":0,"height":0,"gtype":"gage","title":"P.t. Orv.","label":"ºC","format":"{{payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1060,"y":280,"wires":[]},{"id":"35ffd423c3b6a101","type":"function","z":"d437241cb80813aa","name":"function-umid","func":"var Umidade = msg.payload.Umidade || 0; // Garante que valor1 tem um valor\nmsg.url = \"https://docs.google.com/forms/d/e/1FAIpQLSemCuYPHfKyo-iEMDjWWzH1if4UUgic00Y0njsiPabyW34qeg/formResponse?entry.111154301=\" + Umidade;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":400,"wires":[["1575788e36f6378e"]]},{"id":"47e9bcc3daba3d52","type":"function","z":"d437241cb80813aa","name":"function_CO2","func":"var CO2 = msg.payload.CO2 || 0; // Garante que valor1 tem um valor\nmsg.url = \"https://docs.google.com/forms/d/e/1FAIpQLSemCuYPHfKyo-iEMDjWWzH1if4UUgic00Y0njsiPabyW34qeg/formResponse?entry.946138446=\" + CO2;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":440,"wires":[["1575788e36f6378e"]]},{"id":"e60e2a46c3082fb6","type":"function","z":"d437241cb80813aa","name":"function_Solo","func":"var Solo = msg.payload.Solo || 0; // Garante que valor1 tem um valor\nmsg.url = \"https://docs.google.com/forms/d/e/1FAIpQLSemCuYPHfKyo-iEMDjWWzH1if4UUgic00Y0njsiPabyW34qeg/formResponse?entry.2079374689=\" + Solo;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":480,"wires":[["1575788e36f6378e"]]},{"id":"effa14be8c409156","type":"function","z":"d437241cb80813aa","name":"functionOrvalho","func":"var Orvalho = msg.payload.Orvalho || 0; // Garante que valor1 tem um valor\nmsg.url = \"https://docs.google.com/forms/d/e/1FAIpQLSemCuYPHfKyo-iEMDjWWzH1if4UUgic00Y0njsiPabyW34qeg/formResponse?entry.548647691=\" + Orvalho;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":520,"wires":[["1575788e36f6378e"]]},{"id":"8cea24e0355ec752","type":"http request","z":"d437241cb80813aa","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":true,"authType":"","senderr":false,"headers":[],"x":820,"y":400,"wires":[[]]},{"id":"522bc1b3e478a5e1","type":"delay","z":"d437241cb80813aa","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":350,"y":220,"wires":[[]]},{"id":"7c5093b121638734","type":"delay","z":"d437241cb80813aa","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":350,"y":260,"wires":[[]]},{"id":"d4c3ce6f88eaa5d9","type":"delay","z":"d437241cb80813aa","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":350,"y":300,"wires":[[]]},{"id":"2fcc4f31c2158fc4","type":"delay","z":"d437241cb80813aa","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":350,"y":340,"wires":[[]]},{"id":"2372e420bad88328","type":"delay","z":"d437241cb80813aa","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":350,"y":380,"wires":[[]]},{"id":"f60d14f3874ade62","type":"http request","z":"d437241cb80813aa","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":true,"authType":"","senderr":false,"headers":[],"x":820,"y":440,"wires":[[]]},{"id":"29ce69d0f0e557f1","type":"http request","z":"d437241cb80813aa","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":true,"authType":"","senderr":false,"headers":[],"x":820,"y":480,"wires":[[]]},{"id":"4ea324d2415ee380","type":"http request","z":"d437241cb80813aa","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":true,"authType":"","senderr":false,"headers":[],"x":820,"y":520,"wires":[[]]},{"id":"07dc665c0e3acfb5","type":"GSheet","z":"d437241cb80813aa","creds":"98b59746294aeedb","method":"append","action":"","sheet":"1MR74to8G-q0EUun0lV5e3AXO4YFhTKwDDu3WM-N4oYE","cells":"Página1!A1:A2","flatten":false,"name":"Página1","x":600,"y":680,"wires":[["b5696f2a2e8d16e7"]]},{"id":"a6e1df67fbb03bae","type":"function","z":"d437241cb80813aa","name":"function","func":"// Formata os dados para o Google Sheets\nmsg.payload = {\n  values: [\n    [msg.payload.Temperatura, msg.payload.Umidade, msg.payload.CO2, msg.payload.Solo, msg.payload.Orvalho]\n  ]\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":660,"wires":[["07dc665c0e3acfb5"]]}]
