flows/flows.json
[{"id":"87a7ca34e2267354","type":"inject","z":"c22ddb4b7bd1abbc","name":"","props":[{"p":"payload"},{"p":"topic","v":"{   \"Temperatura\": 30.9,   \"Umidade\": 48.0,   \"CO2\": 261.0,   \"Solo\": -300.0,   \"Orvalho\": 160.68 }","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":580,"wires":[["d66cd58fe22ba8ab"]]},{"id":"4e14b33a2efecc07","type":"debug","z":"c22ddb4b7bd1abbc","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":40,"wires":[]},{"id":"83e995c3d830c665","type":"mqtt in","z":"c22ddb4b7bd1abbc","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"google-sheets-data","qos":"0","datatype":"auto-detect","broker":"9d0c82ad1f277388","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":40,"wires":[["b925c1307aafd34a","3368511745987b35","4e14b33a2efecc07","2796932c38b9514f","fd70e3f396819dee","cdc86d5956828e2a","57895ebe287518d0"]]},{"id":"d66cd58fe22ba8ab","type":"mqtt out","z":"c22ddb4b7bd1abbc","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"google-sheets-data","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9d0c82ad1f277388","x":950,"y":580,"wires":[]},{"id":"3534936871e0d66e","type":"ui_gauge","z":"c22ddb4b7bd1abbc","name":"","group":"00c7969fe6a51bf6","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"ºC","format":"{{payload}}","min":"-5","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1050,"y":120,"wires":[]},{"id":"d84ac9119ffcfbb6","type":"ui_gauge","z":"c22ddb4b7bd1abbc","name":"","group":"00c7969fe6a51bf6","order":2,"width":0,"height":0,"gtype":"gage","title":"Umid","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1050,"y":160,"wires":[]},{"id":"b925c1307aafd34a","type":"change","z":"c22ddb4b7bd1abbc","name":"definir msg.payload.Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":120,"wires":[["3534936871e0d66e","5318649c6bd370da"]]},{"id":"3368511745987b35","type":"change","z":"c22ddb4b7bd1abbc","name":"definir msg.payload.Umid","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Umidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":160,"wires":[["d84ac9119ffcfbb6","5318649c6bd370da"]]},{"id":"5318649c6bd370da","type":"debug","z":"c22ddb4b7bd1abbc","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":80,"wires":[]},{"id":"2796932c38b9514f","type":"change","z":"c22ddb4b7bd1abbc","name":"definir msg.payload.CO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":200,"wires":[["5318649c6bd370da","co2_text"]]},{"id":"fd70e3f396819dee","type":"change","z":"c22ddb4b7bd1abbc","name":"definir msg.payload.Solo","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Solo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":240,"wires":[["5318649c6bd370da","ee04cf1ffcd48d8a"]]},{"id":"cdc86d5956828e2a","type":"change","z":"c22ddb4b7bd1abbc","name":"definir msg.payload.Orvalho","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Orvalho","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":280,"wires":[["5318649c6bd370da","08fab7ac87bb7b32"]]},{"id":"ee04cf1ffcd48d8a","type":"ui_gauge","z":"c22ddb4b7bd1abbc","name":"","group":"00c7969fe6a51bf6","order":3,"width":0,"height":0,"gtype":"gage","title":"Umid. Solo","label":"%","format":"{{payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1070,"y":240,"wires":[]},{"id":"08fab7ac87bb7b32","type":"ui_gauge","z":"c22ddb4b7bd1abbc","name":"","group":"00c7969fe6a51bf6","order":5,"width":0,"height":0,"gtype":"gage","title":"P.t. Orv.","label":"ºC","format":"{{payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1060,"y":280,"wires":[]},{"id":"b5696f2a2e8d16e7","type":"debug","z":"c22ddb4b7bd1abbc","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":780,"wires":[]},{"id":"0845754d25044145","type":"debug","z":"c22ddb4b7bd1abbc","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":680,"wires":[]},{"id":"308ef86ebc1bfcfe","type":"http request","z":"c22ddb4b7bd1abbc","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":true,"authType":"","senderr":false,"headers":[],"x":840,"y":780,"wires":[["b5696f2a2e8d16e7"]]},{"id":"57895ebe287518d0","type":"function","z":"c22ddb4b7bd1abbc","name":"function_requ","func":"msg.url = \"https://script.google.com/macros/s/AKfycbyQnDEWvoJp0g04_cDnqWaN4M4vjHE-zwp_E4KQWueVC_QpB9yYOfHa9JrB4CDusAB6/exec\";  // Sua URL do Google Apps Script\n\nvar dados = msg.payload;  // Dados recebidos (como JSON)\n\nmsg.payload = {\n  Temperatura: dados.Temperatura,\n  Umidade: dados.Umidade,\n  CO2: dados.CO2,\n  Solo: dados.Solo,\n  Orvalho: dados.Orvalho\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":780,"wires":[["308ef86ebc1bfcfe","0845754d25044145"]]},{"id":"2c3ab6bfeb7e6049","type":"ui_button","z":"c22ddb4b7bd1abbc","name":"","group":"00c7969fe6a51bf6","order":6,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"send_data","payloadType":"str","topic":"topic","topicType":"msg","x":680,"y":420,"wires":[["fbbb3ecd0646880d"]]},{"id":"fbbb3ecd0646880d","type":"mqtt out","z":"c22ddb4b7bd1abbc","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"est-meteo/command","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9d0c82ad1f277388","x":990,"y":420,"wires":[]},{"id":"co2_text","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"00c7969fe6a51bf6","order":4,"width":0,"height":0,"name":"CO2","label":"CO₂","format":"{{msg.payload}} ppm","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1050,"y":200,"wires":[]},{"id":"vento_http","type":"http request","z":"c22ddb4b7bd1abbc","name":"Open-Meteo API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.open-meteo.com/v1/forecast?latitude=-29.7&longitude=-53.7&current=precipitation,wind_speed_10m&daily=precipitation_sum&timezone=auto","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":1260,"wires":[["formatar_clima"]]},{"id":"inject_clima","type":"inject","z":"c22ddb4b7bd1abbc","name":"Atualiza Clima","props":[],"repeat":"1800","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":200,"y":1260,"wires":[["vento_http"]]},{"id":"formatar_clima","type":"function","z":"c22ddb4b7bd1abbc","name":"Formatar Clima","func":"// Dados atuais\nlet current = msg.payload.current;\nlet daily = msg.payload.daily;\n\nmsg.vento = current.wind_speed_10m;\nmsg.chuva = current.precipitation;\nmsg.prev_chuva = daily.precipitation_sum[0];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1260,"wires":[["vento_text","chuva_text","prev_chuva_text","logica_status"]]},{"id":"vento_text","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"e30071bd08154d5d","order":3,"width":0,"height":0,"name":"Vento Atual","label":"Vento","format":"{{msg.vento}} km/h","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":900,"y":1220,"wires":[]},{"id":"chuva_text","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"e30071bd08154d5d","order":2,"width":0,"height":0,"name":"Chuva Atual","label":"Chuva","format":"{{msg.chuva}} mm/h","layout":"row-spread","x":900,"y":1260,"wires":[]},{"id":"prev_chuva_text","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"e30071bd08154d5d","order":1,"width":0,"height":0,"name":"Previsão Chuva Dia","label":"Previsão Hoje","format":"{{msg.prev_chuva}} mm","layout":"row-spread","x":910,"y":1300,"wires":[]},{"id":"status_geral","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"dashboard_group","order":7,"width":0,"height":0,"name":"Pulverização","label":"Aplic. Insumos","format":"{{msg.status_text}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":950,"y":1400,"wires":[]},{"id":"alerta_clima","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"dashboard_group","order":8,"width":0,"height":0,"name":"Alerta Climático","label":"Adubação","format":"{{msg.alerta_text}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":950,"y":1480,"wires":[]},{"id":"logica_status","type":"function","z":"c22ddb4b7bd1abbc","name":"Lógica Status/Alerta","func":"let vento = msg.vento || 0;\nlet chuva = msg.chuva || 0;\n\nlet status = \"OK\";\nlet cor = \"green\";\n\nif (vento > 20 || chuva > 5) {\n    status = \"N Indicado\";\n    cor = \"red\";\n} else if (vento > 10 || chuva > 0) {\n    status = \"Atenção\";\n    cor = \"orange\";\n}\n\nmsg.status_text = `<div style='color:${cor};font-weight:bold;'>${status}</div>`;\nmsg.alerta_text = `<div style='color:${cor};font-weight:bold;'>${status}</div>`;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1420,"wires":[["status_geral","alerta_clima"]]},{"id":"inject_area_x","type":"inject","z":"c22ddb4b7bd1abbc","name":"Set Área X OK","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OK","payloadType":"str","x":580,"y":940,"wires":[[]]},{"id":"inject_area_y","type":"inject","z":"c22ddb4b7bd1abbc","name":"Set Área Y Atenção","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Atenção – Fungo detectado","payloadType":"str","x":590,"y":1000,"wires":[[]]},{"id":"8941451a78913547","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"dashboard_group","order":4,"width":0,"height":0,"name":"Saúde Área X","label":" Área X","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":620,"y":1620,"wires":[]},{"id":"56bb4e59697ef962","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"dashboard_group","order":5,"width":0,"height":0,"name":"Saúde Área Y","label":" Área Y","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":620,"y":1680,"wires":[]},{"id":"21d979c63aa49dc7","type":"inject","z":"c22ddb4b7bd1abbc","name":"Set Área X OK","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OK","payloadType":"str","x":400,"y":1620,"wires":[["8941451a78913547"]]},{"id":"d1a723f95af61799","type":"inject","z":"c22ddb4b7bd1abbc","name":"Set Área Y Atenção","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Atenção – Fungo det","payloadType":"str","x":410,"y":1680,"wires":[["56bb4e59697ef962"]]},{"id":"0148533db40a2154","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"dashboard_group","order":6,"width":0,"height":0,"name":"Saúde Área Z","label":"Área Z","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":620,"y":1760,"wires":[]},{"id":"e0596c7cca18f35e","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"dashboard_group","order":1,"width":0,"height":0,"name":"Saúde ÁreaA","label":"Saúde Área A","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":610,"y":1820,"wires":[]},{"id":"990aad883754921c","type":"inject","z":"c22ddb4b7bd1abbc","name":"Set Área z OK","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OK","payloadType":"str","x":390,"y":1760,"wires":[["0148533db40a2154"]]},{"id":"e74cda87b27ab231","type":"inject","z":"c22ddb4b7bd1abbc","name":"Set Área Y Atenção","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Atenção – Floração","payloadType":"str","x":410,"y":1820,"wires":[["e0596c7cca18f35e"]]},{"id":"90f6e8422a7ab4c5","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"dashboard_group","order":2,"width":0,"height":0,"name":"Saúde ÁreaB","label":"Área B","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":610,"y":1880,"wires":[]},{"id":"ef9100971ef753ec","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"dashboard_group","order":3,"width":0,"height":0,"name":"Saúde ÁreaC","label":"Área C","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":620,"y":1940,"wires":[]},{"id":"e45df04f8c29a919","type":"inject","z":"c22ddb4b7bd1abbc","name":"Set Área X OK","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alerta tempestade","payloadType":"str","x":400,"y":1880,"wires":[["90f6e8422a7ab4c5"]]},{"id":"3bfbbd34fa3f256a","type":"inject","z":"c22ddb4b7bd1abbc","name":"Set Área Y Atenção","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Colheita","payloadType":"str","x":390,"y":1960,"wires":[["ef9100971ef753ec"]]},{"id":"d8eba5383c5a5164","type":"inject","z":"c22ddb4b7bd1abbc","name":"Set Área Y Atenção","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"aqui pode ir outros elementos de dashboard","payloadType":"str","x":370,"y":2040,"wires":[["0d121ad5fb315cb3"]]},{"id":"0d121ad5fb315cb3","type":"ui_text","z":"c22ddb4b7bd1abbc","group":"dashboard_group","order":9,"width":0,"height":0,"name":"Saúde ÁreaC","label":"EXtra","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":600,"y":2020,"wires":[]},{"id":"9d0c82ad1f277388","type":"mqtt-broker","name":"662267b4d75448ff9ab5c5bcb043bd1f","broker":"662267b4d75448ff9ab5c5bcb043bd1f.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"662267b4d75448ff9ab5c5bcb043bd1f","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"00c7969fe6a51bf6","type":"ui_group","name":"Sensores","tab":"dashboard_tab","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"e30071bd08154d5d","type":"ui_group","name":"Clima","tab":"dashboard_tab","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"dashboard_group","type":"ui_group","name":"Diagnostico da Lavoura","tab":"dashboard_tab","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dashboard_tab","type":"ui_tab","name":"Monitoramento","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
