flows/flows.json
[{"id":"87a7ca34e2267354","type":"inject","z":"a171ecaa1684784d","name":"","props":[{"p":"payload"},{"p":"topic","v":"{   \"Temperatura\": 30.9,   \"Umidade\": 48.0,   \"CO2\": 261.0,   \"Solo\": -300.0,   \"Orvalho\": 160.68 }","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":120,"wires":[["d66cd58fe22ba8ab"]]},{"id":"4e14b33a2efecc07","type":"debug","z":"a171ecaa1684784d","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":180,"wires":[]},{"id":"83e995c3d830c665","type":"mqtt in","z":"a171ecaa1684784d","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"google-sheets-data","qos":"0","datatype":"auto-detect","broker":"9d0c82ad1f277388","nl":false,"rap":true,"rh":0,"inputs":0,"x":250,"y":180,"wires":[["4e14b33a2efecc07","b925c1307aafd34a","3368511745987b35","2796932c38b9514f","fd70e3f396819dee","cdc86d5956828e2a","57895ebe287518d0","lum_change","rain_change","calc_prob_from_payload"]]},{"id":"d66cd58fe22ba8ab","type":"mqtt out","z":"a171ecaa1684784d","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"google-sheets-data","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9d0c82ad1f277388","x":1070,"y":120,"wires":[]},{"id":"3534936871e0d66e","type":"ui_gauge","z":"a171ecaa1684784d","name":"","group":"00c7969fe6a51bf6","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"ºC","format":"{{payload}}","min":"-5","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":970,"y":260,"wires":[]},{"id":"d84ac9119ffcfbb6","type":"ui_gauge","z":"a171ecaa1684784d","name":"","group":"00c7969fe6a51bf6","order":2,"width":0,"height":0,"gtype":"gage","title":"Umid","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":970,"y":300,"wires":[]},{"id":"b925c1307aafd34a","type":"change","z":"a171ecaa1684784d","name":"definir msg.payload.Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":260,"wires":[["3534936871e0d66e","5318649c6bd370da"]]},{"id":"3368511745987b35","type":"change","z":"a171ecaa1684784d","name":"definir msg.payload.Umid","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Umidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[["d84ac9119ffcfbb6","5318649c6bd370da","ccf401d1eedab854"]]},{"id":"5318649c6bd370da","type":"debug","z":"a171ecaa1684784d","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":220,"wires":[]},{"id":"2796932c38b9514f","type":"change","z":"a171ecaa1684784d","name":"definir msg.payload.CO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":340,"wires":[["5318649c6bd370da","co2_text","bc239793d7969d50"]]},{"id":"fd70e3f396819dee","type":"change","z":"a171ecaa1684784d","name":"definir msg.payload.Solo","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Solo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":380,"wires":[["5318649c6bd370da","ee04cf1ffcd48d8a","c75518c4adab8d55"]]},{"id":"cdc86d5956828e2a","type":"change","z":"a171ecaa1684784d","name":"definir msg.payload.Orvalho","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Orvalho","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":420,"wires":[["5318649c6bd370da","08fab7ac87bb7b32"]]},{"id":"ee04cf1ffcd48d8a","type":"ui_gauge","z":"a171ecaa1684784d","name":"","group":"00c7969fe6a51bf6","order":3,"width":0,"height":0,"gtype":"gage","title":"Umid. Solo","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":990,"y":380,"wires":[]},{"id":"08fab7ac87bb7b32","type":"ui_gauge","z":"a171ecaa1684784d","name":"","group":"f736f70ae8c61a61","order":1,"width":0,"height":0,"gtype":"gage","title":"P.t. Orv.","label":"ºC","format":"{{payload}}","min":"-5","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":980,"y":420,"wires":[]},{"id":"b5696f2a2e8d16e7","type":"debug","z":"a171ecaa1684784d","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":1240,"wires":[]},{"id":"0845754d25044145","type":"debug","z":"a171ecaa1684784d","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":1240,"wires":[]},{"id":"308ef86ebc1bfcfe","type":"http request","z":"a171ecaa1684784d","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://script.google.com/macros/s/AKfycbyM348FjuVLAGaz2VBjCJMf-L-OJL8RVSc_ln9oIOHvpwBP-jkN4s_1E1iWJZcwIYni7g/exec","tls":"","persist":false,"proxy":"","insecureHTTPParser":true,"authType":"","senderr":false,"headers":[],"x":380,"y":1180,"wires":[["b5696f2a2e8d16e7"]]},{"id":"57895ebe287518d0","type":"function","z":"a171ecaa1684784d","name":"function_requ","func":"msg.url = \"https://script.google.com/macros/s/AKfycbyM348FjuVLAGaz2VBjCJMf-L-OJL8RVSc_ln9oIOHvpwBP-jkN4s_1E1iWJZcwIYni7g/exec\";  // Sua URL do Google Apps Script\n\nvar dados = msg.payload;  // Dados recebidos (como JSON)\n\nmsg.payload = {\n  Temperatura: dados.Temperatura,\n  Umidade: dados.Umidade,\n  CO2: dados.CO2,\n  Solo: dados.Solo,\n  Orvalho: dados.Orvalho,\n  Luminosidade: dados.Luminosidade,\n  Chuva: dados.Chuva\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":1180,"wires":[["0845754d25044145","308ef86ebc1bfcfe"]]},{"id":"2c3ab6bfeb7e6049","type":"ui_button","z":"a171ecaa1684784d","d":true,"name":"","group":"e30071bd08154d5d","order":4,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"send_data","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":400,"wires":[["fbbb3ecd0646880d"]]},{"id":"fbbb3ecd0646880d","type":"mqtt out","z":"a171ecaa1684784d","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"est-meteo/command","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9d0c82ad1f277388","x":250,"y":280,"wires":[]},{"id":"co2_text","type":"ui_text","z":"a171ecaa1684784d","group":"00c7969fe6a51bf6","order":4,"width":0,"height":0,"name":"CO2","label":"CO₂","format":"{{msg.payload}} ppm","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":970,"y":340,"wires":[]},{"id":"vento_http","type":"http request","z":"a171ecaa1684784d","name":"Open-Meteo API","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.open-meteo.com/v1/forecast?latitude=-29.7&longitude=-53.7&current=precipitation,wind_speed_10m&daily=precipitation_sum&timezone=auto","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1300,"wires":[["formatar_clima"]]},{"id":"inject_clima","type":"inject","z":"a171ecaa1684784d","name":"Atualiza Clima","props":[],"repeat":"1800","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":200,"y":1300,"wires":[["vento_http"]]},{"id":"formatar_clima","type":"function","z":"a171ecaa1684784d","name":"Formatar Clima","func":"// Dados atuais\nlet current = msg.payload.current;\nlet daily = msg.payload.daily;\n\nmsg.vento = current.wind_speed_10m;\nmsg.chuva = current.precipitation;\nmsg.prev_chuva = daily.precipitation_sum[0];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1300,"wires":[["vento_text","chuva_text","prev_chuva_text","logica_status"]]},{"id":"vento_text","type":"ui_text","z":"a171ecaa1684784d","group":"e30071bd08154d5d","order":3,"width":0,"height":0,"name":"Vento Atual","label":"Vento","format":"{{msg.vento}} km/h","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":990,"y":1260,"wires":[]},{"id":"chuva_text","type":"ui_text","z":"a171ecaa1684784d","group":"e30071bd08154d5d","order":2,"width":0,"height":0,"name":"Chuva Atual","label":"Chuva","format":"{{msg.chuva}} mm/h","layout":"row-spread","x":990,"y":1300,"wires":[]},{"id":"prev_chuva_text","type":"ui_text","z":"a171ecaa1684784d","group":"e30071bd08154d5d","order":1,"width":0,"height":0,"name":"Previsão Chuva Dia","label":"Previsão Hoje","format":"{{msg.prev_chuva}} mm","layout":"row-spread","x":1020,"y":1340,"wires":[]},{"id":"status_geral","type":"ui_text","z":"a171ecaa1684784d","group":"dashboard_group","order":10,"width":0,"height":0,"name":"Pulverização","label":"Pulverização","format":"{{msg.status_pulv_text}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":990,"y":1420,"wires":[]},{"id":"alerta_clima","type":"ui_text","z":"a171ecaa1684784d","group":"dashboard_group","order":11,"width":0,"height":0,"name":"adubação ","label":"Adubação","format":"{{msg.alerta_adub_text}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":980,"y":1460,"wires":[]},{"id":"logica_status","type":"function","z":"a171ecaa1684784d","name":"Lógica Status/Alerta","func":"let vento = msg.vento || 0;\nlet chuva = msg.prev_chuva || 0;\n\n\nlet status_pulv = \"OK\";\nlet status_adub = \"OK\";\nlet cor = \"green\";\n\n\nif (vento >= 10 || chuva > 1) {\n    status_pulv = \"N Indicado\";\n   \n    \n} \nif (chuva == 0) {\n status_adub = \"Indicado\";\n}\n\n\nif (vento <= 10 && chuva <= 1&& chuva != 0) {\n    status_adub = \"Atenção\";\n    status_pulv = \"Atenção\";\n    \n}\n\n\n\n\n\nif (vento < 10 && chuva == 0) {\n    status_adub = \"Indicado\";\n    status_pulv = \"Indicado\";\n    \n}\n\n\nmsg.status_pulv_text = `<div style='color:${cor};font-weight:bold;'>${status_pulv}</div>`;\nmsg.alerta_pulv_text = `<div style='color:${cor};font-weight:bold;'>${status_pulv}</div>`;\n\nmsg.status_adub_text = `<div style='color:${cor};font-weight:bold;'>${status_adub}</div>`;\nmsg.alerta_adub_text = `<div style='color:${cor};font-weight:bold;'>${status_adub}</div>`;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":1420,"wires":[["status_geral","alerta_clima"]]},{"id":"21d979c63aa49dc7","type":"inject","z":"a171ecaa1684784d","name":"Set Área X OK","props":[{"p":"payload"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OK","payloadType":"str","x":200,"y":780,"wires":[["8941451a78913547"]]},{"id":"e74cda87b27ab231","type":"inject","z":"a171ecaa1684784d","name":"Set Área Y Atenção","props":[{"p":"payload"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Atenção – Floração","payloadType":"str","x":220,"y":720,"wires":[["e0596c7cca18f35e"]]},{"id":"c75518c4adab8d55","type":"function","z":"a171ecaa1684784d","name":"Lógica Status/Alerta","func":"let solo = msg.payload;\nlet cor = \"black\"\n\nlet status_solo = \"OK\";\nlet status_irrig = \"OK\";\n\nif (solo > 75) {\n    status_solo = \"Alta\";\n    status_irrig = \"N Indicado\";\n}\nelse if (solo > 40 && solo < 75) {\n    status_solo = \"Normal\";  \n    status_irrig = \"N Indicado\"; \n} \n if( solo < 40)  {\n    status_solo = \"Atenção\";\n    status_irrig = \"Indicado\";\n   \n}\n\nmsg.status_solo_text = `<div style='color:${cor};font-weight:bold;'>${status_solo}</div>`;\nmsg.status_irrig_text = `<div style='color:${cor};font-weight:bold;'>${status_irrig}</div>`;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":820,"wires":[["90f6e8422a7ab4c5","56bb4e59697ef962"]]},{"id":"ccf401d1eedab854","type":"function","z":"a171ecaa1684784d","name":"Lógica Status/Alerta","func":"let ar = msg.payload; // Ajuste o campo conforme a chave real que contém a umidade do ar\nlet cor = \"black\";\n\n\nlet status_ar = \"OK\";\nlet status_umid = \"OK\";\n\nif (ar > 80) {\n    status_ar = \"Alta\";\n    cor = \"red\";\n    status_umid = \"Atenção\";\n    cor = \"red\";\n} else if (ar >= 40) {\n    status_ar = \"Normal\";\n    cor = \"green\";\n    status_umid = \"Ok\";\n    cor = \"green\";\n} else {\n    status_ar = \"Baixa\";\n    cor = \"orange\";\n    status_umid = \"Hidratação\";\n    cor = \"blue\";\n}\n\nmsg.status_ar_text = `<div style='color:${cor};font-weight:bold;'>${status_ar}</div>`;\nmsg.status_umid_text = `<div style='color:${cor};font-weight:bold;'>${status_umid}</div>`;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":1040,"wires":[["5179cd16267baa6f","d3ea3423c1b2ed28"]]},{"id":"5179cd16267baa6f","type":"ui_text","z":"a171ecaa1684784d","group":"dashboard_group","order":7,"width":0,"height":0,"name":"Alerta ar","label":"Alerta Ar","format":"{{msg.status_umid_text}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":980,"y":1100,"wires":[]},{"id":"lum_change","type":"change","z":"a171ecaa1684784d","name":"definir msg.payload.Luminosidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Luminosidade","tot":"msg"}],"x":660,"y":480,"wires":[["lum_gauge","lum_text"]]},{"id":"lum_gauge","type":"ui_gauge","z":"a171ecaa1684784d","name":"Gauge Luminosidade","group":"f736f70ae8c61a61","order":2,"width":0,"height":0,"gtype":"gage","title":"Luminosidade","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":1020,"y":460,"wires":[]},{"id":"lum_text","type":"ui_text","z":"a171ecaa1684784d","group":"f736f70ae8c61a61","order":3,"width":0,"height":0,"name":"Texto Luminosidade","label":"Luminosidade","format":"{{msg.payload}} %","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1020,"y":500,"wires":[]},{"id":"rain_change","type":"change","z":"a171ecaa1684784d","name":"definir msg.payload.Chuva","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Chuva","tot":"msg"}],"x":640,"y":540,"wires":[["rain_gauge","rain_text"]]},{"id":"rain_gauge","type":"ui_gauge","z":"a171ecaa1684784d","name":"Gauge Chuva","group":"f736f70ae8c61a61","order":4,"width":0,"height":0,"gtype":"gage","title":"Chuva Real","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","diff":false,"className":"","x":1000,"y":540,"wires":[]},{"id":"rain_text","type":"ui_text","z":"a171ecaa1684784d","group":"f736f70ae8c61a61","order":5,"width":0,"height":0,"name":"Texto Chuva","label":"Chuva Real","format":"{{msg.payload}} %","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":990,"y":580,"wires":[]},{"id":"0f243b38c64a81b6","type":"ui_chart","z":"a171ecaa1684784d","name":"Gráfico Temperatura","group":"e30071bd08154d5d","order":5,"width":0,"height":0,"label":"Temperatura (24h)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Aguardando dados...","dot":false,"ymin":"-5","ymax":"50","removeOlder":"24","removeOlderPoints":"1288","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4c00ff","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1020,"y":1620,"wires":[[]]},{"id":"c1a1fdd5b2a28c2a","type":"inject","z":"a171ecaa1684784d","name":"Atualizar a cada 5min","props":[],"repeat":"300","once":true,"onceDelay":0.1,"topic":"","x":220,"y":1580,"wires":[["a91ffb28d2874f5a"]]},{"id":"f38d0d47f2e9fbbe","type":"function","z":"a171ecaa1684784d","name":"Filtrar últimas 24h","func":"let now = new Date();\nlet cutoff = now.getTime() - 24*60*60*1000; // 24h atrás\n\nlet dados = msg.payload;\nlet filtrado = dados.filter(l => new Date(l.timestamp).getTime() >= cutoff);\n\nmsg.payload = [{\n    series: [\"Temperatura\"],\n    data: [filtrado.map(l => ({ x: new Date(l.timestamp), y: Number(l.Temperatura) }))],\n    labels: [\"\"]\n}];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1580,"wires":[["0f243b38c64a81b6"]]},{"id":"a91ffb28d2874f5a","type":"http request","z":"a171ecaa1684784d","name":"Buscar JSON da Planilha","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://script.google.com/macros/s/AKfycbyM348FjuVLAGaz2VBjCJMf-L-OJL8RVSc_ln9oIOHvpwBP-jkN4s_1E1iWJZcwIYni7g/exec","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"basic","senderr":false,"headers":[],"x":490,"y":1620,"wires":[["f38d0d47f2e9fbbe"]]},{"id":"1da970e4d4cbc3ea","type":"ui_chart","z":"a171ecaa1684784d","name":"Gráfico Umidade","group":"e30071bd08154d5d","order":6,"width":0,"height":0,"label":"Umidade (24h)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Aguardando dados...","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#002aff","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":1680,"wires":[[]]},{"id":"706c5fedbc627f5e","type":"inject","z":"a171ecaa1684784d","name":"Atualizar a cada 5min","props":[],"repeat":"300","once":true,"onceDelay":0.1,"topic":"","x":220,"y":1640,"wires":[["4cec08b3c414c219"]]},{"id":"800b67f31a8dc547","type":"function","z":"a171ecaa1684784d","name":"Filtrar últimas 24h","func":"let now = new Date();\nlet cutoff = now.getTime() - 24*60*60*1000; // 24h atrás\n\nlet dados = msg.payload;\nlet filtrado = dados.filter(l => new Date(l.timestamp).getTime() >= cutoff);\n\nmsg.payload = [{\n    series: [\"Umidade\"],\n    data: [filtrado.map(l => ({ x: new Date(l.timestamp), y: Number(l.Umidade) }))],\n    labels: [\"\"]\n}];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1640,"wires":[["1da970e4d4cbc3ea"]]},{"id":"4cec08b3c414c219","type":"http request","z":"a171ecaa1684784d","name":"Buscar JSON da Planilha","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://script.google.com/macros/s/AKfycbyM348FjuVLAGaz2VBjCJMf-L-OJL8RVSc_ln9oIOHvpwBP-jkN4s_1E1iWJZcwIYni7g/exec","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":490,"y":1680,"wires":[["800b67f31a8dc547"]]},{"id":"204815151705c1a0","type":"ui_chart","z":"a171ecaa1684784d","name":"Gráfico Solo","group":"e30071bd08154d5d","order":7,"width":0,"height":0,"label":"Umidade Solo (24h)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Aguardando dados...","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff11","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":990,"y":1740,"wires":[[]]},{"id":"9c146c87d4a7b180","type":"inject","z":"a171ecaa1684784d","name":"Atualizar a cada 5min","props":[],"repeat":"300","once":true,"onceDelay":0.1,"topic":"","x":220,"y":1700,"wires":[["9460d28aa0d2c060"]]},{"id":"77f76e91551b0a5f","type":"function","z":"a171ecaa1684784d","name":"Filtrar últimas 24h","func":"let now = new Date();\nlet cutoff = now.getTime() - 24*60*60*1000; // 24h atrás\n\nlet dados = msg.payload;\nlet filtrado = dados.filter(l => new Date(l.timestamp).getTime() >= cutoff);\n\nmsg.payload = [{\n    series: [\"Solo\"],\n    data: [filtrado.map(l => ({ x: new Date(l.timestamp), y: Number(l.Solo) }))],\n    labels: [\"\"]\n}];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1700,"wires":[["204815151705c1a0"]]},{"id":"9460d28aa0d2c060","type":"http request","z":"a171ecaa1684784d","name":"Buscar JSON da Planilha","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://script.google.com/macros/s/AKfycbyM348FjuVLAGaz2VBjCJMf-L-OJL8RVSc_ln9oIOHvpwBP-jkN4s_1E1iWJZcwIYni7g/exec","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":490,"y":1740,"wires":[["77f76e91551b0a5f"]]},{"id":"selfping-inject","type":"inject","z":"a171ecaa1684784d","name":"Ping a cada 2 min","props":[],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":2040,"wires":[["selfping-http"]]},{"id":"selfping-http","type":"http request","z":"a171ecaa1684784d","name":"Ping Render","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://est-met-render.onrender.com","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":2040,"wires":[[]]},{"id":"co2_gsheet_inject","type":"inject","z":"a171ecaa1684784d","name":"atualizar gps","props":[],"repeat":"30","crontab":"","once":true,"onceDelay":1,"topic":"","x":220,"y":2140,"wires":[["830d62efe146b41f"]]},{"id":"8181620c3fb871ae","type":"inject","z":"a171ecaa1684784d","name":"Atualizar a cada 5min","props":[],"repeat":"300","once":true,"onceDelay":0.1,"topic":"","x":220,"y":1760,"wires":[["979c888177a251f4"]]},{"id":"979c888177a251f4","type":"http request","z":"a171ecaa1684784d","name":"Buscar JSON da Planilha","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://script.google.com/macros/s/AKfycbyM348FjuVLAGaz2VBjCJMf-L-OJL8RVSc_ln9oIOHvpwBP-jkN4s_1E1iWJZcwIYni7g/exec","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":490,"y":1800,"wires":[["6aa8d6423286291e"]]},{"id":"cb6fb8703bf504d0","type":"ui_chart","z":"a171ecaa1684784d","name":"CO2","group":"e30071bd08154d5d","order":8,"width":0,"height":0,"label":"CO2 (24h)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Aguardando dados...","dot":false,"ymin":"0","ymax":"1200","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff11","#e6e93a","#d0481b","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":970,"y":1800,"wires":[[]]},{"id":"6aa8d6423286291e","type":"function","z":"a171ecaa1684784d","name":"Filtrar últimas 24h","func":"let now = new Date();\nlet cutoff = now.getTime() - 24*60*60*1000; // 24h atrás\n\nlet dados = msg.payload;\nlet filtrado = dados.filter(l => new Date(l.timestamp).getTime() >= cutoff);\n\nmsg.payload = [{\n    series: [\"CO2\"],\n    data: [filtrado.map(l => ({ x: new Date(l.timestamp), y: Number(l.CO2) }))],\n    labels: [\"\"]\n}];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1760,"wires":[["cb6fb8703bf504d0"]]},{"id":"bc239793d7969d50","type":"function","z":"a171ecaa1684784d","name":"Lógica Status/Alerta","func":"let CO2 = msg.payload; // Ajuste o campo conforme a chave real que contém a umidade do ar\nlet cor = \"black\";\n\n\nlet status_CO2 = \"OK\";\nlet alerta_CO2 = \"OK\";\n\nif (CO2 < 380) {\n    status_CO2 = \"Baixo\";\n    alerta_CO2 = \"Normal\"\n    cor = \"black\";\n}\nif (CO2 > 381 && CO2 < 750) {\n    status_CO2 = \"Alto\";\n    alerta_CO2 = \"Atenção\"\n    cor = \"black\";\n}\nif (CO2 > 751 ) {\n    status_CO2 = \"Muito Alto\";\n    alerta_CO2 = \"Cuidado\"\n    cor = \"black\";\n}\nmsg.status_CO2_text = `<div style='color:${cor};font-weight:bold;'>${status_CO2}</div>`;\nmsg.alerta_CO2_text = `<div style='color:${cor};font-weight:bold;'>${alerta_CO2}</div>`;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":920,"wires":[["e4ef974f01b8f774","04d5457cd20c0273"]]},{"id":"e4ef974f01b8f774","type":"ui_text","z":"a171ecaa1684784d","group":"dashboard_group","order":8,"width":0,"height":0,"name":"Status CO2","label":"Status CO2","format":"{{msg.status_CO2_text}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":990,"y":940,"wires":[]},{"id":"04d5457cd20c0273","type":"ui_text","z":"a171ecaa1684784d","group":"dashboard_group","order":9,"width":0,"height":0,"name":"Alerta_CO2","label":"Alerta_CO2","format":"{{msg.alerta_CO2_text}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":990,"y":980,"wires":[]},{"id":"90f6e8422a7ab4c5","type":"ui_text","z":"a171ecaa1684784d","group":"dashboard_group","order":5,"width":0,"height":0,"name":"Irrigação","label":"Irrigação","format":"{{msg.status_irrig_text}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":980,"y":860,"wires":[]},{"id":"d3ea3423c1b2ed28","type":"ui_text","z":"a171ecaa1684784d","group":"dashboard_group","order":6,"width":0,"height":0,"name":"status ar","label":"Umidade Ar","format":"{{msg.status_ar_text}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":980,"y":1060,"wires":[]},{"id":"56bb4e59697ef962","type":"ui_text","z":"a171ecaa1684784d","group":"dashboard_group","order":4,"width":0,"height":0,"name":"Umid solo","label":"Umidade Solo","format":"{{msg.status_solo_text}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":980,"y":820,"wires":[]},{"id":"8941451a78913547","type":"ui_text","z":"a171ecaa1684784d","group":"dashboard_group","order":3,"width":0,"height":0,"name":"statusÁrea X","label":"Status Área","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":990,"y":780,"wires":[]},{"id":"e0596c7cca18f35e","type":"ui_text","z":"a171ecaa1684784d","group":"dashboard_group","order":2,"width":0,"height":0,"name":"Saúde ÁreaA","label":"Saúde Área A","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":990,"y":720,"wires":[]},{"id":"lum_inject_24h","type":"inject","z":"a171ecaa1684784d","name":"Atualizar Luminosidade a cada 5min","props":[],"repeat":"300","once":true,"onceDelay":0.1,"topic":"","x":270,"y":1840,"wires":[["lum_http_24h"]]},{"id":"lum_http_24h","type":"http request","z":"a171ecaa1684784d","name":"Buscar JSON da Planilha - Luminosidade","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://script.google.com/macros/s/AKfycbyM348FjuVLAGaz2VBjCJMf-L-OJL8RVSc_ln9oIOHvpwBP-jkN4s_1E1iWJZcwIYni7g/exec","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":540,"y":1880,"wires":[["lum_filter_24h"]]},{"id":"lum_filter_24h","type":"function","z":"a171ecaa1684784d","name":"Filtrar últimas 24h - Luminosidade","func":"let now = new Date();\nlet cutoff = now.getTime() - 24*60*60*1000; // 24h atrás\n\nlet dados = msg.payload;\nlet filtrado = dados.filter(l => new Date(l.timestamp).getTime() >= cutoff);\n\nmsg.payload = [{\n    series: [\"Luminosidade\"],\n    data: [filtrado.map(l => ({ x: new Date(l.timestamp), y: Number(l.Luminosidade) }))],\n    labels: [\"\"]\n}];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1840,"wires":[["lum_chart_24h"]]},{"id":"lum_chart_24h","type":"ui_chart","z":"a171ecaa1684784d","name":"Gráfico Luminosidade","group":"e30071bd08154d5d","order":9,"width":0,"height":0,"label":"Luminosidade (24h)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Aguardando dados...","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffcc00","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1020,"y":1880,"wires":[[]]},{"id":"chuva_inject_24h","type":"inject","z":"a171ecaa1684784d","name":"Atualizar Chuva a cada 5min","props":[],"repeat":"300","once":true,"onceDelay":0.1,"topic":"","x":250,"y":1920,"wires":[["chuva_http_24h"]]},{"id":"chuva_http_24h","type":"http request","z":"a171ecaa1684784d","name":"Buscar JSON da Planilha - Chuva","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://script.google.com/macros/s/AKfycbyM348FjuVLAGaz2VBjCJMf-L-OJL8RVSc_ln9oIOHvpwBP-jkN4s_1E1iWJZcwIYni7g/exec","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":520,"y":1960,"wires":[["chuva_filter_24h"]]},{"id":"chuva_filter_24h","type":"function","z":"a171ecaa1684784d","name":"Filtrar últimas 24h - Chuva","func":"let now = new Date();\nlet cutoff = now.getTime() - 24*60*60*1000; // 24h atrás\n\nlet dados = msg.payload;\nlet filtrado = dados.filter(l => new Date(l.timestamp).getTime() >= cutoff);\n\nmsg.payload = [{\n    series: [\"Chuva\"],\n    data: [filtrado.map(l => ({ x: new Date(l.timestamp), y: Number(l.Chuva) }))],\n    labels: [\"\"]\n}];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1920,"wires":[["chuva_chart_24h"]]},{"id":"chuva_chart_24h","type":"ui_chart","z":"a171ecaa1684784d","name":"Gráfico Chuva","group":"e30071bd08154d5d","order":10,"width":0,"height":0,"label":"Chuva (24h)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Aguardando dados...","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0044ff","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1020,"y":1960,"wires":[[]]},{"id":"830d62efe146b41f","type":"function","z":"a171ecaa1684784d","name":"function 1  -29.626038, -53.938216","func":"// Localização fixa - Boca do Monte / Santa Maria - RS\nmsg.payload = {\n    name: \"Estação Boca do Monte\",\n    lat: -29.626038,//-29.69570856509182, \n    lon: -53.938216, //-53.87654296677099,\n    icon: \"cloud\",\n    layer: \"Estação Meteorológica\",\n    popup: \"Estação ativa<br>Telemetria conectada\",\n    ttl: 60\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":2140,"wires":[["e49d170d0e156072"]]},{"id":"calc_prob_from_payload","type":"function","z":"a171ecaa1684784d","name":"Calcular Prob. (do payload MQTT)","func":"// Recebe msg.payload = { Temperatura: x, Orvalho: y, ... }\nlet p = msg.payload || {};\nlet T = Number(p.Temperatura);\nlet Td = Number(p.Orvalho);\nif (isNaN(T) || isNaN(Td)) {\n    node.warn('Temperatura ou Orvalho ausente em payload');\n    return null;\n}\nlet diff = Math.abs(T - Td);\nlet prob = 0;\nif (diff <= 0.5) prob = 100;\nelse if (diff < 3) prob = Math.round(100 - ((diff - 0.5) / 2.5) * 100);\nelse prob = 0;\nmsg.payload = prob; // valor que vai pro gauge\nmsg.topic = 'prob_chuva';\nmsg.diff = diff;\nmsg.info = `ΔT=${diff.toFixed(2)}°C (T=${T} Td=${Td})`;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1180,"wires":[["0845754d25044145","gauge_prob_chuva","text_dt_info"]]},{"id":"gauge_prob_chuva","type":"ui_gauge","z":"a171ecaa1684784d","name":"Prob. Chuva (%)","group":"f736f70ae8c61a61","order":6,"width":0,"height":0,"gtype":"gage","title":"Prob. Chuva","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#15b300","#e6e600","#3a4acb"],"seg1":"60","seg2":"85","diff":false,"className":"","x":1000,"y":1160,"wires":[]},{"id":"text_dt_info","type":"ui_text","z":"a171ecaa1684784d","group":"f736f70ae8c61a61","order":7,"width":6,"height":1,"name":"ΔT Info","label":"Diferença T–Td","format":"{{msg.info}}","layout":"row-spread","x":980,"y":1200,"wires":[]},{"id":"e49d170d0e156072","type":"ui_worldmap","z":"a171ecaa1684784d","group":"dashboard_group","order":1,"width":6,"height":6,"name":"Localização","lat":"-29.626038","lon":"-53.938216","zoom":"15","layer":"OSMC","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"true","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":930,"y":2140,"wires":[]},{"id":"led_b1","type":"ui_template","z":"a171ecaa1684784d","group":"group_bombas","name":"LED B1","order":4,"width":3,"height":1,"format":"<div style=\"display:flex;justify-content:center;align-items:center;height:100%;\"><div style=\"width:18px;height:18px;border-radius:50%;background-color:{{(msg.payload === 'ON') ? '#00ff00' : '#ff0000'}};\"></div></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1100,"y":2300,"wires":[[]]},{"id":"led_b2","type":"ui_template","z":"a171ecaa1684784d","group":"group_bombas","name":"LED B2","order":8,"width":3,"height":1,"format":"<div style=\"display:flex;justify-content:center;align-items:center;height:100%;\"><div style=\"width:18px;height:18px;border-radius:50%;background-color:{{(msg.payload === 'ON') ? '#00ff00' : '#ff0000'}};\"></div></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1100,"y":2360,"wires":[[]]},{"id":"led_b3","type":"ui_template","z":"a171ecaa1684784d","group":"group_bombas","name":"LED B3","order":12,"width":3,"height":1,"format":"<div style=\"display:flex;justify-content:center;align-items:center;height:100%;\"><div style=\"width:18px;height:18px;border-radius:50%;background-color:{{(msg.payload === 'ON') ? '#00ff00' : '#ff0000'}};\"></div></div>","x":1100,"y":2420,"wires":[[]]},{"id":"led_b4","type":"ui_template","z":"a171ecaa1684784d","group":"group_bombas","name":"LED B4","order":16,"width":3,"height":1,"format":"<div style=\"display:flex;justify-content:center;align-items:center;height:100%;\"><div style=\"width:18px;height:18px;border-radius:50%;background-color:{{(msg.payload === 'ON') ? '#00ff00' : '#ff0000'}};\"></div></div>","x":1100,"y":2480,"wires":[[]]},{"id":"led_b5","type":"ui_template","z":"a171ecaa1684784d","group":"group_bombas","name":"LED B5","order":20,"width":3,"height":1,"format":"<div style=\"display:flex;justify-content:center;align-items:center;height:100%;\"><div style=\"width:18px;height:18px;border-radius:50%;background-color:{{(msg.payload === 'ON') ? '#00ff00' : '#ff0000'}};\"></div></div>","x":1100,"y":2540,"wires":[[]]},{"id":"led_b6","type":"ui_template","z":"a171ecaa1684784d","group":"group_bombas","name":"LED B6","order":24,"width":3,"height":1,"format":"<div style=\"display:flex;justify-content:center;align-items:center;height:100%;\"><div style=\"width:18px;height:18px;border-radius:50%;background-color:{{(msg.payload === 'ON') ? '#00ff00' : '#ff0000'}};\"></div></div>","x":1100,"y":2600,"wires":[[]]},{"id":"led_b7","type":"ui_template","z":"a171ecaa1684784d","group":"group_bombas","name":"LED B7","order":28,"width":3,"height":1,"format":"<div style=\"display:flex;justify-content:center;align-items:center;height:100%;\"><div style=\"width:18px;height:18px;border-radius:50%;background-color:{{(msg.payload === 'ON') ? '#00ff00' : '#ff0000'}};\"></div></div>","x":1100,"y":2660,"wires":[[]]},{"id":"led_b8","type":"ui_template","z":"a171ecaa1684784d","group":"group_bombas","name":"LED B8","order":32,"width":3,"height":1,"format":"<div style=\"display:flex;justify-content:center;align-items:center;height:100%;\"><div style=\"width:18px;height:18px;border-radius:50%;background-color:{{(msg.payload === 'ON') ? '#00ff00' : '#ff0000'}};\"></div></div>","x":1100,"y":2720,"wires":[[]]},{"id":"mqtt_in_status","type":"mqtt in","z":"a171ecaa1684784d","name":"STATUS ESP","topic":"protonest/io/status","qos":"2","datatype":"auto-detect","broker":"25176851580cfaf2","nl":false,"rap":false,"inputs":0,"x":190,"y":2480,"wires":[["func_split_inputs"]]},{"id":"func_split_inputs","type":"function","z":"a171ecaa1684784d","name":"Distribui Inputs","func":"let d = msg.payload;\n\nreturn [\n    { payload: d.x0 ? \"ON\" : \"OFF\" },\n    { payload: d.x1 ? \"ON\" : \"OFF\" },\n    { payload: d.x2 ? \"ON\" : \"OFF\" },\n    { payload: d.x3 ? \"ON\" : \"OFF\" },\n    { payload: d.x4 ? \"ON\" : \"OFF\" },\n    { payload: d.x5 ? \"ON\" : \"OFF\" },\n    { payload: d.x6 ? \"ON\" : \"OFF\" },\n    { payload: d.x7 ? \"ON\" : \"OFF\" }\n];","outputs":8,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":2480,"wires":[["led_b1"],["led_b2"],["led_b3"],["led_b4"],["led_b5"],["led_b6"],["led_b7"],["led_b8"]]},{"id":"c0c98057d970319e","type":"inject","z":"a171ecaa1684784d","name":"Ping a cada 2 min","props":[],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":2080,"wires":[["633d18ec440b89ee"]]},{"id":"633d18ec440b89ee","type":"http request","z":"a171ecaa1684784d","name":"Ping Render camera","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cam-server-4b89.onrender.com","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":480,"y":2080,"wires":[[]]},{"id":"09bda25e4ca948dc","type":"mqtt out","z":"a171ecaa1684784d","name":"CMD ESP","topic":"protonest/io/cmd","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"25176851580cfaf2","x":1030,"y":3240,"wires":[]},{"id":"fe78730f33fbea3b","type":"ui_switch","z":"a171ecaa1684784d","name":"Manual y0","label":"Bomba 1","tooltip":"","group":"group_bombas","order":1,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","onvalue":"MANUAL_ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"MANUAL_OFF","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"","x":170,"y":2640,"wires":[["6cdd63692fd13a12"]]},{"id":"edcdd7a93696b0e1","type":"ui_numeric","z":"a171ecaa1684784d","name":"Tempo y0","label":"Tempo Y0 (m)","tooltip":"","group":"group_bombas","order":3,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"","min":1,"max":99999,"step":1,"className":"","x":160,"y":2720,"wires":[["bcd6fbde5422ddf1"]]},{"id":"bcd6fbde5422ddf1","type":"function","z":"a171ecaa1684784d","name":"SET TIME y0","func":"flow.set('time_y0', Number(msg.payload)); return null;","outputs":1,"x":570,"y":2720,"wires":[[]]},{"id":"6cdd63692fd13a12","type":"function","z":"a171ecaa1684784d","name":"ENGINE y0","func":"let cmd = msg.payload;\nlet tkey = 'timer_y0';\nlet timekey = 'time_y0';\n\nfunction stopTimer(){\n    let old = flow.get(tkey);\n    if(old) clearTimeout(old);\n    flow.set(tkey,null);\n}\n\nif(cmd === 'AUTO_ON'){\n\n    stopTimer();\n\n    let tempo = flow.get(timekey) || 1;\n\n    let t = setTimeout(()=>{\n\n        node.send([\n            {payload:{y0:false}},\n            {payload:'AUTO_OFF'}\n        ]);\n\n        flow.set(tkey,null);\n\n    }, tempo * 1000);\n\n    flow.set(tkey,t);\n\n    return [\n        {payload:{y0:true}},\n        {payload:'AUTO_ON'}\n    ];\n}\n\nif(cmd === 'AUTO_OFF'){\n\n    stopTimer();\n\n    return [\n        {payload:{y0:false}},\n        {payload:'AUTO_OFF'}\n    ];\n}\n\nif(cmd === 'MANUAL_ON'){\n\n    stopTimer();\n\n    return [\n        {payload:{y0:true}},\n        null\n    ];\n}\n\nif(cmd === 'MANUAL_OFF'){\n\n    stopTimer();\n\n    return [\n        {payload:{y0:false}},\n        null\n    ];\n}\n\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":2640,"wires":[["09bda25e4ca948dc"],["0794760d82ccb0dc"]]},{"id":"0794760d82ccb0dc","type":"ui_switch","z":"a171ecaa1684784d","name":"Auto y0","label":"Y0 Auto","group":"group_bombas","order":2,"width":3,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","onvalue":"AUTO_ON","onvalueType":"str","offvalue":"AUTO_OFF","offvalueType":"str","animate":true,"className":"","x":160,"y":2680,"wires":[["6cdd63692fd13a12"]]},{"id":"y1_manual","type":"ui_switch","z":"a171ecaa1684784d","name":"Manual y1","label":"Bomba 2","group":"group_bombas","order":5,"width":3,"height":1,"passthru":true,"decouple":"false","onvalue":"MANUAL_ON","offvalue":"MANUAL_OFF","x":170,"y":2800,"wires":[["y1_engine"]]},{"id":"y1_auto","type":"ui_switch","z":"a171ecaa1684784d","name":"Auto y1","label":"Y1 Auto","group":"group_bombas","order":6,"width":3,"height":1,"passthru":false,"decouple":"true","onvalue":"AUTO_ON","offvalue":"AUTO_OFF","x":160,"y":2840,"wires":[["y1_engine"]]},{"id":"y1_time","type":"ui_numeric","z":"a171ecaa1684784d","name":"Tempo y1","label":"Tempo Y1 (m)","tooltip":"","group":"group_bombas","order":7,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"","min":1,"max":99999,"step":1,"className":"","x":160,"y":2880,"wires":[["y1_set"]]},{"id":"y1_set","type":"function","z":"a171ecaa1684784d","name":"SET TIME y1","func":"flow.set('time_y1', Number(msg.payload)); return null;","outputs":1,"x":580,"y":2880,"wires":[[]]},{"id":"y1_engine","type":"function","z":"a171ecaa1684784d","name":"ENGINE y1","func":"let cmd = msg.payload;\nlet tkey = 'timer_y1';\nlet timekey = 'time_y1';\n\nfunction stopTimer() {\n    let old = flow.get(tkey);\n    if (old) clearTimeout(old);\n    flow.set(tkey, null);\n}\n\nif (cmd === 'AUTO_ON') {\n\n    stopTimer();\n\n    let tempo = flow.get(timekey) || 1;\n\n    let t = setTimeout(() => {\n\n        node.send([\n            { payload: { y1: false } },\n            { payload: 'AUTO_OFF' }\n        ]);\n\n        flow.set(tkey, null);\n\n    }, tempo * 1000);\n\n    flow.set(tkey, t);\n\n    return [\n        { payload: { y1: true } },\n        { payload: 'AUTO_ON' }\n    ];\n}\n\nif (cmd === 'AUTO_OFF') {\n\n    stopTimer();\n\n    return [\n        { payload: { y1: false } },\n        { payload: 'AUTO_OFF' }\n    ];\n}\n\nif (cmd === 'MANUAL_ON') {\n\n    stopTimer();\n\n    return [\n        { payload: { y1: true } },\n        null\n    ];\n}\n\nif (cmd === 'MANUAL_OFF') {\n\n    stopTimer();\n\n    return [\n        { payload: { y1: false } },\n        null\n    ];\n}\n\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":2800,"wires":[["09bda25e4ca948dc"],["y1_auto"]]},{"id":"y2_manual","type":"ui_switch","z":"a171ecaa1684784d","name":"Manual y2","label":"Bomba 3","group":"group_bombas","order":9,"width":3,"height":1,"passthru":true,"decouple":"false","onvalue":"MANUAL_ON","offvalue":"MANUAL_OFF","x":170,"y":2960,"wires":[["y2_engine"]]},{"id":"y2_auto","type":"ui_switch","z":"a171ecaa1684784d","name":"Auto y2","label":"Y2 Auto","group":"group_bombas","order":10,"width":3,"height":1,"passthru":false,"decouple":"true","onvalue":"AUTO_ON","offvalue":"AUTO_OFF","x":160,"y":3000,"wires":[["y2_engine"]]},{"id":"y2_time","type":"ui_numeric","z":"a171ecaa1684784d","name":"Tempo y2","label":"Tempo Y2 (m)","tooltip":"","group":"group_bombas","order":11,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"","min":1,"max":99999,"step":1,"className":"","x":160,"y":3040,"wires":[["y2_set"]]},{"id":"y2_set","type":"function","z":"a171ecaa1684784d","name":"SET TIME y2","func":"flow.set('time_y2', Number(msg.payload)); return null;","outputs":1,"x":580,"y":3040,"wires":[[]]},{"id":"y2_engine","type":"function","z":"a171ecaa1684784d","name":"ENGINE y2","func":"let cmd = msg.payload;\nlet tkey = 'timer_y2';\nlet timekey = 'time_y2';\n\nfunction stopTimer() {\n    let old = flow.get(tkey);\n    if (old) clearTimeout(old);\n    flow.set(tkey, null);\n}\n\nif (cmd === 'AUTO_ON') {\n\n    stopTimer();\n\n    let tempo = flow.get(timekey) || 1;\n\n    let t = setTimeout(() => {\n\n        node.send([\n            { payload: { y2: false } },\n            { payload: 'AUTO_OFF' }\n        ]);\n\n        flow.set(tkey, null);\n\n    }, tempo * 1000);\n\n    flow.set(tkey, t);\n\n    return [\n        { payload: { y2: true } },\n        { payload: 'AUTO_ON' }\n    ];\n}\n\nif (cmd === 'AUTO_OFF') {\n\n    stopTimer();\n\n    return [\n        { payload: { y2: false } },\n        { payload: 'AUTO_OFF' }\n    ];\n}\n\nif (cmd === 'MANUAL_ON') {\n\n    stopTimer();\n\n    return [\n        { payload: { y2: true } },\n        null\n    ];\n}\n\nif (cmd === 'MANUAL_OFF') {\n\n    stopTimer();\n\n    return [\n        { payload: { y2: false } },\n        null\n    ];\n}\n\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":2960,"wires":[["09bda25e4ca948dc"],["y2_auto"]]},{"id":"y3_manual","type":"ui_switch","z":"a171ecaa1684784d","name":"Manual y3","label":"Y3","group":"group_bombas","order":13,"width":3,"height":1,"passthru":true,"decouple":"false","onvalue":"MANUAL_ON","offvalue":"MANUAL_OFF","x":170,"y":3120,"wires":[["y3_engine"]]},{"id":"y3_auto","type":"ui_switch","z":"a171ecaa1684784d","name":"Auto y3","label":"Y3 Auto","group":"group_bombas","order":14,"width":3,"height":1,"passthru":false,"decouple":"true","onvalue":"AUTO_ON","offvalue":"AUTO_OFF","x":160,"y":3160,"wires":[["y3_engine"]]},{"id":"y3_time","type":"ui_numeric","z":"a171ecaa1684784d","name":"Tempo y3","label":"Tempo Y3 (m)","tooltip":"","group":"group_bombas","order":15,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"","min":1,"max":99999,"step":1,"className":"","x":160,"y":3200,"wires":[["y3_set"]]},{"id":"y3_set","type":"function","z":"a171ecaa1684784d","name":"SET TIME y3","func":"flow.set('time_y3', Number(msg.payload)); return null;","outputs":1,"x":580,"y":3200,"wires":[[]]},{"id":"y3_engine","type":"function","z":"a171ecaa1684784d","name":"ENGINE y3","func":"let cmd = msg.payload;\nlet tkey = 'timer_y3';\nlet timekey = 'time_y3';\n\nfunction stopTimer() {\n    let old = flow.get(tkey);\n    if (old) clearTimeout(old);\n    flow.set(tkey, null);\n}\n\nif (cmd === 'AUTO_ON') {\n\n    stopTimer();\n\n    let tempo = flow.get(timekey) || 1;\n\n    let t = setTimeout(() => {\n\n        node.send([\n            { payload: { y3: false } },\n            { payload: 'AUTO_OFF' }\n        ]);\n\n        flow.set(tkey, null);\n\n    }, tempo * 1000);\n\n    flow.set(tkey, t);\n\n    return [\n        { payload: { y3: true } },\n        { payload: 'AUTO_ON' }\n    ];\n}\n\nif (cmd === 'AUTO_OFF') {\n\n    stopTimer();\n\n    return [\n        { payload: { y3: false } },\n        { payload: 'AUTO_OFF' }\n    ];\n}\n\nif (cmd === 'MANUAL_ON') {\n\n    stopTimer();\n\n    return [\n        { payload: { y3: true } },\n        null\n    ];\n}\n\nif (cmd === 'MANUAL_OFF') {\n\n    stopTimer();\n\n    return [\n        { payload: { y3: false } },\n        null\n    ];\n}\n\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":3120,"wires":[["09bda25e4ca948dc"],["y3_auto"]]},{"id":"y4_manual","type":"ui_switch","z":"a171ecaa1684784d","name":"Manual y4","label":"Y4","group":"group_bombas","order":17,"width":3,"height":1,"passthru":true,"decouple":"false","onvalue":"MANUAL_ON","offvalue":"MANUAL_OFF","x":170,"y":3280,"wires":[["y4_engine"]]},{"id":"y4_auto","type":"ui_switch","z":"a171ecaa1684784d","name":"Auto y4","label":"Y4 Auto","group":"group_bombas","order":18,"width":3,"height":1,"passthru":false,"decouple":"true","onvalue":"AUTO_ON","offvalue":"AUTO_OFF","x":160,"y":3320,"wires":[["y4_engine"]]},{"id":"y4_time","type":"ui_numeric","z":"a171ecaa1684784d","name":"Tempo y4","label":"Tempo Y4 (m)","tooltip":"","group":"group_bombas","order":19,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"","min":1,"max":99999,"step":1,"className":"","x":160,"y":3360,"wires":[["y4_set"]]},{"id":"y4_set","type":"function","z":"a171ecaa1684784d","name":"SET TIME y4","func":"flow.set('time_y4', Number(msg.payload)); return null;","outputs":1,"x":580,"y":3360,"wires":[[]]},{"id":"y4_engine","type":"function","z":"a171ecaa1684784d","name":"ENGINE y4","func":"let cmd = msg.payload;\nlet tkey = 'timer_y4';\nlet timekey = 'time_y4';\n\nfunction stopTimer(){\n    let old = flow.get(tkey);\n    if(old) clearTimeout(old);\n    flow.set(tkey,null);\n}\n\nif(cmd === 'AUTO_ON'){\n\n    stopTimer();\n\n    let tempo = flow.get(timekey) || 1;\n\n    let t = setTimeout(()=>{\n\n        node.send([\n            {payload:{y4:false}},\n            {payload:'AUTO_OFF'}\n        ]);\n\n        flow.set(tkey,null);\n\n    }, tempo * 1000);\n\n    flow.set(tkey,t);\n\n    return [\n        {payload:{y4:true}},\n        {payload:'AUTO_ON'}\n    ];\n}\n\nif(cmd === 'AUTO_OFF'){\n\n    stopTimer();\n\n    return [\n        {payload:{y4:false}},\n        {payload:'AUTO_OFF'}\n    ];\n}\n\nif(cmd === 'MANUAL_ON'){\n\n    stopTimer();\n\n    return [\n        {payload:{y4:true}},\n        null\n    ];\n}\n\nif(cmd === 'MANUAL_OFF'){\n\n    stopTimer();\n\n    return [\n        {payload:{y4:false}},\n        null\n    ];\n}\n\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":3280,"wires":[["09bda25e4ca948dc"],["y4_auto"]]},{"id":"y5_manual","type":"ui_switch","z":"a171ecaa1684784d","name":"Manual y5","label":"Y5","group":"group_bombas","order":21,"width":3,"height":1,"passthru":true,"decouple":"false","onvalue":"MANUAL_ON","offvalue":"MANUAL_OFF","x":170,"y":3440,"wires":[["y5_engine"]]},{"id":"y5_auto","type":"ui_switch","z":"a171ecaa1684784d","name":"Auto y5","label":"Y5 Auto","group":"group_bombas","order":22,"width":3,"height":1,"passthru":false,"decouple":"true","onvalue":"AUTO_ON","offvalue":"AUTO_OFF","x":160,"y":3480,"wires":[["y5_engine"]]},{"id":"y5_time","type":"ui_numeric","z":"a171ecaa1684784d","name":"Tempo y5","label":"Tempo Y5 (m)","tooltip":"","group":"group_bombas","order":23,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"","min":1,"max":99999,"step":1,"className":"","x":160,"y":3520,"wires":[["y5_set"]]},{"id":"y5_set","type":"function","z":"a171ecaa1684784d","name":"SET TIME y5","func":"flow.set('time_y5', Number(msg.payload)); return null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":3520,"wires":[[]]},{"id":"y5_engine","type":"function","z":"a171ecaa1684784d","name":"ENGINE y5","func":"let cmd = msg.payload;\nlet tkey = 'timer_y5';\nlet timekey = 'time_y5';\n\nfunction stopTimer() {\n    let old = flow.get(tkey);\n    if (old) clearTimeout(old);\n    flow.set(tkey, null);\n}\n\nif (cmd === 'AUTO_ON') {\n\n    stopTimer();\n\n    let tempo = flow.get(timekey) || 1;\n\n    let t = setTimeout(() => {\n\n        node.send([\n            { payload: { y5: false } },\n            { payload: 'AUTO_OFF' }\n        ]);\n\n        flow.set(tkey, null);\n\n    }, tempo * 1000);\n\n    flow.set(tkey, t);\n\n    return [\n        { payload: { y5: true } },\n        { payload: 'AUTO_ON' }\n    ];\n}\n\nif (cmd === 'AUTO_OFF') {\n\n    stopTimer();\n\n    return [\n        { payload: { y5: false } },\n        { payload: 'AUTO_OFF' }\n    ];\n}\n\nif (cmd === 'MANUAL_ON') {\n\n    stopTimer();\n\n    return [\n        { payload: { y5: true } },\n        null\n    ];\n}\n\nif (cmd === 'MANUAL_OFF') {\n\n    stopTimer();\n\n    return [\n        { payload: { y5: false } },\n        null\n    ];\n}\n\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":3440,"wires":[["09bda25e4ca948dc"],["y5_auto"]]},{"id":"y6_manual","type":"ui_switch","z":"a171ecaa1684784d","name":"Manual y6","label":"Y6","group":"group_bombas","order":25,"width":3,"height":1,"passthru":true,"decouple":"false","onvalue":"MANUAL_ON","offvalue":"MANUAL_OFF","x":170,"y":3600,"wires":[["y6_engine"]]},{"id":"y6_auto","type":"ui_switch","z":"a171ecaa1684784d","name":"Auto y6","label":"Y6 Auto","group":"group_bombas","order":26,"width":3,"height":1,"passthru":false,"decouple":"true","onvalue":"AUTO_ON","offvalue":"AUTO_OFF","x":160,"y":3640,"wires":[["y6_engine"]]},{"id":"y6_time","type":"ui_numeric","z":"a171ecaa1684784d","name":"Tempo y6","label":"Tempo Y6 (m)","tooltip":"","group":"group_bombas","order":27,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"","min":1,"max":99999,"step":1,"className":"","x":160,"y":3680,"wires":[["y6_set"]]},{"id":"y6_set","type":"function","z":"a171ecaa1684784d","name":"SET TIME y6","func":"flow.set('time_y6', Number(msg.payload)); return null;","outputs":1,"x":580,"y":3680,"wires":[[]]},{"id":"y6_engine","type":"function","z":"a171ecaa1684784d","name":"ENGINE y6","func":"let cmd = msg.payload;\nlet tkey = 'timer_y6';\nlet timekey = 'time_y6';\n\nfunction stopTimer(){\n    let old = flow.get(tkey);\n    if(old) clearTimeout(old);\n    flow.set(tkey,null);\n}\n\nif(cmd === 'AUTO_ON'){\n\n    stopTimer();\n\n    let tempo = flow.get(timekey) || 1;\n\n    let t = setTimeout(()=>{\n\n        node.send([\n            {payload:{y6:false}},\n            {payload:'AUTO_OFF'}\n        ]);\n\n        flow.set(tkey,null);\n\n    }, tempo * 1000);\n\n    flow.set(tkey,t);\n\n    return [\n        {payload:{y6:true}},\n        {payload:'AUTO_ON'}\n    ];\n}\n\nif(cmd === 'AUTO_OFF'){\n\n    stopTimer();\n\n    return [\n        {payload:{y6:false}},\n        {payload:'AUTO_OFF'}\n    ];\n}\n\nif(cmd === 'MANUAL_ON'){\n\n    stopTimer();\n\n    return [\n        {payload:{y6:true}},\n        null\n    ];\n}\n\nif(cmd === 'MANUAL_OFF'){\n\n    stopTimer();\n\n    return [\n        {payload:{y6:false}},\n        null\n    ];\n}\n\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":3600,"wires":[["09bda25e4ca948dc"],["y6_auto"]]},{"id":"y7_manual","type":"ui_switch","z":"a171ecaa1684784d","name":"Manual y7","label":"Y7","group":"group_bombas","order":29,"width":3,"height":1,"passthru":true,"decouple":"false","onvalue":"MANUAL_ON","offvalue":"MANUAL_OFF","x":170,"y":3760,"wires":[["y7_engine"]]},{"id":"y7_auto","type":"ui_switch","z":"a171ecaa1684784d","name":"Auto y7","label":"Y7 Auto","group":"group_bombas","order":30,"width":3,"height":1,"passthru":false,"decouple":"true","onvalue":"AUTO_ON","offvalue":"AUTO_OFF","x":160,"y":3800,"wires":[["y7_engine"]]},{"id":"y7_time","type":"ui_numeric","z":"a171ecaa1684784d","name":"Tempo y7","label":"Tempo Y7 (m)","tooltip":"","group":"group_bombas","order":31,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"","min":1,"max":99999,"step":1,"className":"","x":160,"y":3840,"wires":[["y7_set"]]},{"id":"y7_set","type":"function","z":"a171ecaa1684784d","name":"SET TIME y7","func":"flow.set('time_y7', Number(msg.payload)); return null;","outputs":1,"x":580,"y":3840,"wires":[[]]},{"id":"y7_engine","type":"function","z":"a171ecaa1684784d","name":"ENGINE y7","func":"let cmd = msg.payload;\nlet tkey = 'timer_y7';\nlet timekey = 'time_y7';\n\nfunction stopTimer() {\n    let old = flow.get(tkey);\n    if (old) clearTimeout(old);\n    flow.set(tkey, null);\n}\n\nif (cmd === 'AUTO_ON') {\n\n    stopTimer();\n\n    let tempo = flow.get(timekey) || 1;\n\n    let t = setTimeout(() => {\n\n        node.send([\n            { payload: { y7: false } },\n            { payload: 'AUTO_OFF' }\n        ]);\n\n        flow.set(tkey, null);\n\n    }, tempo * 1000);\n\n    flow.set(tkey, t);\n\n    return [\n        { payload: { y7: true } },\n        { payload: 'AUTO_ON' }\n    ];\n}\n\nif (cmd === 'AUTO_OFF') {\n\n    stopTimer();\n\n    return [\n        { payload: { y7: false } },\n        { payload: 'AUTO_OFF' }\n    ];\n}\n\nif (cmd === 'MANUAL_ON') {\n\n    stopTimer();\n\n    return [\n        { payload: { y7: true } },\n        null\n    ];\n}\n\nif (cmd === 'MANUAL_OFF') {\n\n    stopTimer();\n\n    return [\n        { payload: { y7: false } },\n        null\n    ];\n}\n\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":3760,"wires":[["09bda25e4ca948dc"],["y7_auto"]]},{"id":"9d0c82ad1f277388","type":"mqtt-broker","name":"662267b4d75448ff9ab5c5bcb043bd1f","broker":"662267b4d75448ff9ab5c5bcb043bd1f.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"662267b4d75448ff9ab5c5bcb043bd1f","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"00c7969fe6a51bf6","type":"ui_group","name":"Sensores","tab":"dashboard_tab","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"f736f70ae8c61a61","type":"ui_group","name":"Sensores","tab":"dashboard_tab","order":4,"disp":true,"width":6,"collapse":false,"className":""},{"id":"e30071bd08154d5d","type":"ui_group","name":"Clima","tab":"dashboard_tab","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"dashboard_group","type":"ui_group","name":"Diagnostico da Lavoura","tab":"dashboard_tab","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"group_bombas","type":"ui_group","name":"Controle de Bombas","tab":"tab_irrigacao","order":1,"disp":true,"width":12},{"id":"25176851580cfaf2","type":"mqtt-broker","name":"Esp32IoT_ProtoNest_Client","broker":"662267b4d75448ff9ab5c5bcb043bd1f.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"Esp32IoT_ProtoNest_Client","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"dashboard_tab","type":"ui_tab","name":"VisuoAgro Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"tab_irrigacao","type":"ui_tab","name":"Irrigação","icon":"dashboard","order":2}]
